In [5]:
import pandas as pd

In [6]:
female_victims_that_sought_assistance_df=pd.read_csv('vicitm-assistance.csv')

In [7]:
female_victims_that_sought_assistance_df.head()

,1994 to 1998,Unnamed: 1,1999 to 2004,Unnamed: 3,2005 to 2010,Unnamed: 5
0,Received assistance,NaN,24,28,23,NaN
1,Did not receive assistance,NaN,76,72,77,