In [7]:
import pandas as pd

In [8]:
female_victimization_rates_df= pd.read_csv('female-victim-rates.csv')

In [9]:
female_victimization_rates_df.head()

,Total,Unnamed: 1,Completed,Unnamed: 3,Attempted,Unnamed: 5,Threatened,Unnamed: 7
Year,Average annual count,Rate*,Average annual count,Rate*,Average annual count,Rate*,Average annual count,Rate*
1995,"555,600",5,"402,000",3.6,"83,900",0.8,"69,800",0.6
1996,"443,300",4,"304,300",2.7,"56,400",0.5,"82,600",0.7
1997,"450,100",4,"301,400",2.7,"55,200",0.5,"93,500",0.8
1998,"436,400",3.8,"322,100",2.8,"62,600",0.5,"51,700",0.5