In [12]:
import pandas as pd

In [13]:
female_victim_characteristics_df=pd.read_csv('female-victim-characteristics.csv')

In [14]:
female_victim_characteristics_df.head()

,Age,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,12to17,11.3,,7.6,,4.1,
1,NaN,18to34,7,,5.3,,3.7,
2,NaN,35to64,2.3,,1.8,,1.5,
3,NaN,65 or older,0.1,0.2,0.2,NaN,NaN,NaN
4,Race/Hispanic origin,NaN,NaN,NaN,NaN,NaN,NaN,NaN