In [1]:
import pandas as pd

In [2]:
female_reports_to_police_df=pd.read_csv('female-police-reports.csv')

In [3]:
female_reports_to_police_df.head()

   Year  Percent Unnamed: 2  Standard error Unnamed: 4
0  1995     28.2          %             2.3          %
1  1996     28.6        NaN             2.6        NaN
2  1997     28.3        NaN             2.7        NaN
3  1998     26.9        NaN             2.8        NaN
4  1999     28.5        NaN             2.7        NaN