In [1]:
import pandas as pd

In [2]:
perpetrator_relationship_df=pd.read_csv('perpetrator-relationship.csv')

In [4]:
perpetrator_relationship_df.head(20)

,Offender characteristic,Unnamed: 1,Unnamed: 2,1994 to 1998,Unnamed: 4,1999 to 2004,Unnamed: 6,2005 to 2010,Unnamed: 8
0,Number of offenders,NaN,NaN,100,100,100,NaN,NaN,NaN
1,NaN,One,NaN,93,NaN,91,NaN,90.0,NaN
2,NaN,Two or more,NaN,7,,9,,10.0,NaN
3,Victim-offender relationship/a,NaN,NaN,100,100,100,NaN,NaN,NaN
4,NaN,Stranger,NaN,21,NaN,25,NaN,22.0,NaN
5,NaN,Nonstranger,NaN,79,NaN,75,NaN,78.0,NaN
6,NaN,NaN,Intimate partner/b,28,,30,,34.0,
7,NaN,NaN,Relative,9,,3,,6.0,
8,NaN,NaN,Well-known/casual acquaintance,42,,42,,38.0,