In [5]:
import pandas as pd

In [6]:
perpetrator_charcteristics_df=pd.read_csv('perpetrator-characteristics.csv')

In [7]:
perpetrator_charcteristics_df.head()

                     Age   Unnamed: 1  100  100.1 100.2
NaN 17 or younger 12  NaN          14  NaN   15.0   NaN
    10 to 20      9                11         9.0
    21 to 29      24               28        25.0
    30 or older   51               43        48.0
    Other/a       3                 2         2.0